.container{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .middle{
        max-width: 800px;
        h1{
            text-align: center;
        }
    }
   
}