.navigation {
    padding: 2%;
    .flexbox (space-between, center);
    
    nav {
        width: 50%;
        .flexbox (space-between, center);
        a {
            text-decoration: none;
        }//end of a
    }//end of nav
}//end of navigation
