.navigation {
    width: 100%;
    padding: 0.2% 4%;
    .flexbox (space-between, baseline);
    background-color: #212121;
    z-index: -1;
    @media @tablet {
        padding: 0.2% 1%;
    }
    @media @phone{
        flex-direction: column;
        margin: 1% 0;

        .hamburger {
            display: inline-block;
            cursor: pointer;
            position: absolute;
            right: 5px;
            //set to display none bc I can't figure out how to make the menu retract
            display: none;
          }
          
          .bar1, .bar2, .bar3 {
            width: 35px;
            height: 5px;
            background-color: rgb(211, 204, 204);
            margin: 6px 0;
            transition: 0.4s;
          }
          
          .change .bar1 {
            -webkit-transform: rotate(-45deg) translate(-9px, 6px);
            transform: rotate(-45deg) translate(-9px, 6px);
            
          }
          
          .change .bar2 {opacity: 0;}
          
          .change .bar3 {
            -webkit-transform: rotate(45deg) translate(-8px, -8px);
            transform: rotate(45deg) translate(-8px, -8px);
          }
    }//end of phone query
    .h1{
        width: 30%;
        @media @tablet {
            width: 20%;
        }
        @media @phone{
            width: 100%;
            text-align: center;
        }
        h1{
        font-family: @tabless-font;
        font-size: 4rem;
            &:hover {
                text-shadow: 0 0 100px @shadow-color, 0 0 100px @shadow-color;
            }
            @media @tablet{
                font-size: 2.1rem;
                a:active {
                    background-color: @shadow-color;
                }
            }
            @media @phone{
                width: 100%;
            }
          
            a{
                width: 100%;
                justify-content: center;
                color: rgb(157, 47, 201);
            }
        }//end of h1
    }//end of h1 class
    nav {
        width: 75%;
        .flexbox (center, center);
        @media @tablet {
            width: 78%;
        }
        @media @phone{
            flex-direction: column;
            width: 100%;
            // display: none;
        }
        a {
            width: 90%;
            padding: 2% 1%;
            text-decoration: none;
            color: white;
            font-size: 1.25rem;
            .flexbox (center, flex-start);
            &:hover {
                text-shadow: 0 0 20px red, 0 0 20px red;
            }
            @media @tablet {
                font-size: 1rem;
                padding: 2% 0%;
            }
            @media @phone {
                padding: 4% 0;
            }
        }//end of a
        @media @tablet{
            a:active {
                background-color: purple;
            }
        }
        @media @phone{
            a:active {
                background-color: purple;
            }
        }
    }//end of nav
}//end of navigation
