.navigation {
    width: 100%;
    padding: 0.2% 4%;
    .flexbox (space-between, baseline);
    background-color: #212121;
    z-index: -1;
    .h1{
        width: 30%;
        h1{
        font-family: @tabless-font;
        font-size: 5rem;
            &:hover {
                text-shadow: 0 0 20px rgb(158, 6, 6);
            }
        }
    }
    nav {
        width: 60%;
        .flexbox (center, center);
        @media @tablet {
            width: 80%;
        }
        a {
            width: 100%;
            padding: 2% 1%;
            text-decoration: none;
            color: white;
            font-size: 2rem;
            .flexbox (center, flex-start);
            &:hover {
                text-shadow: 0 0 20px #FF0000, 0 0 20px red;
            }
            @media @tablet {
                font-size: 1.5rem;
            }
        }//end of a
    }//end of nav
}//end of navigation
